<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<meta name="viewport" content="width-device, initial-scale=1, maximum-scale=1, minimum-scale=1" charset="utf-8">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400">
	<link rel="stylesheet" type="text/css" href="default.css">
</head>

<body>
	<div class="nav-wrapper">
		<div class="dots-wrapper">
			<div id="dot-1" class="browser-dot"></div>			
			<div id="dot-2" class="browser-dot"></div>			
			<div id="dot-3" class="browser-dot"></div>		
		</div>

		<ul id="navigation">
			<li><a href="index.html">Home</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>

	<div class="main-container">

		<h3>Making Games With Python and Pygame</h3>

		<p>My Journey into Python has been wonderful. I discovered new things everyday as I learnt Python Programming Language.</p>

		<p>So, as practice I made two-dimensional game with Python's game development package - <strong>Pygame</strong>. It wasn't an easy task when I began, but I then realized everything can't be learnt in a day.</p>

		<p>My first real game which called "Jumpin' Plats" was the most frustating. But in the end I completed the game.</p>
		<h4>Screenshots</h4>

		<span class="images">
			<img src="images/show screen.png">
			<img src="images/play screen.png">
			<img src="images/end screen.png">
		</span>
		<p>The game can be downloaded from the link below</p>

		<p><a href="Game">Download Jumpin' Plats game</a></p>
	</div>
</body>
</html>